---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import Pagination from "../components/Pagination.astro";
import PaginationEntry from "../components/PaginationEntry.astro";
const blogPosts = await getCollection("blog")
---

<PageLayout>
	<div  class="mx-auto p-2">
		<div class="mx-auto md:max-w-6xl">
			<h1 class="text-3xl text-center py-4">Välkommen</h1>
			<div class="py-4 flex md:flex-row flex-col gap-4">
				<div class="p-6 text-black text-lg">
					<h2 class="font-bold">Vad är detta?</h2>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quos mollitia aliquid voluptas quaerat facilis aliquam, ratione culpa vero corrupti accusamus enim qui, fugit magni itaque quisquam? Ex, repellendus sunt.
				</div>
				<div class="p-6 bg-purple-200 text-lg">
					<h2 class="font-bold">Vad är detta?</h2>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam vel recusandae repudiandae voluptatum nisi! Odio molestiae iure necessitatibus, eum veritatis, reprehenderit mollitia fugit perspiciatis voluptatem, non impedit? Officiis, aliquam excepturi!
				</div>
			</div>
		</div>
	</div>
	<div class="mx-auto  p-2 ">
		<div class="mx-auto md:max-w-6xl">
			<div class="mx-auto flex [&>*:first-child]:basis-full  md:flex-row flex-col flex-wrap">
			{blogPosts.map((post, i)=>(
				i > 3 ? null : 	<div class="basis-2/6 p-2"><PaginationEntry 
				title={post.data.title} 
				author={post.data.author} 
				slug={post.slug } 
				date={"2022-03-02"}>
			</PaginationEntry></div>
			))}
			</div> 
		</div>
	</div>
</PageLayout>